@charset "UTF-8";

@media print {
    *  {
        font-family: 'Courier New', Courier, monospace;
    }
    
    }
    main {
        width: 100vw;
        border: 2px solid black;
    }


}

    main h1 {
        text-shadow: none;
        color: black;
    }
    
@media screen and (min-width: 1000px){
    body {
        background-image: url(../imagens/lagrimaser.jpg);
    }

    main {
        width: 800px;
        
    }
}    
